<h1>{{appTitle}} 🚀</h1>
<h2>My rooms</h2>
{{#if rooms.length}}
  {{#each rooms}}
    <div>

      {{#if imageUrl}}
        <img src="{{imageUrl}}" alt="{{name}}" />
      {{/if}}

      <h3>{{name}}</h3>
      <p>{{description}}</p>
      {{#if owner.fullName}}
        <p>Owned by: {{owner.fullName}}</p>
      {{/if}}
      <ul>
        {{#each reviews}}
          <li>
            <p>{{comment}}</p>
            <p>by {{user.fullName}}</p>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}
{{else}}
  <p>You have no rooms yet.</p>
{{/if}}

<button>
  <a href="/rooms/create">Add a room</a>
</button>
